$black-main: rgba(0, 0, 0, 0.87);
$black-more: rgba(0, 0, 0, 0.54);
$black-hint: rgba(0, 0, 0, 0.38);

.text {
  color: $black-main;
  font-size: 12px;
  margin: 0 0 16px 0;
  text-align: center;
}

.checkbox {
  margin: 24px 0;
  font-size: 12px;
}
