.wrapper {
   width: 360px;
   height: 590px;
 }

.text-subhead {
  text-align: center;
  padding: 1em 1em
}

.flex-vertical-stack-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  box-shadow: 0 -2px 5px -5px #333;
  margin-top: 10em;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
}

.padding-top-5em {
    padding-top: 5em;
}

.button-basic {
  text-transform: capitalize;
}

.button-icon {
  margin-top: -0.1em;
}

.flex-inline {
  padding-top: 3em;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
