$black-main: rgba(0, 0, 0, 0.87);
$black-more: rgba(0, 0, 0, 0.54);

.welcome {
  & button {
    width: 200px;
    margin: 8px 0;
    text-transform: uppercase;
    color: $black-main;
  }

  & p {
    text-transform: uppercase;
    color: $black-more;
    margin: 0 0 32px 0;
  }
}


