<div class="navbar flex-row-between fixed-height-50 fixed-width">
  <div class="align-element-center navbar-item-left">
    <button mat-mini-fab class="button-small-fab"
            matTooltip="Net implemented yet">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
  </div>
  <div style="padding-right: 1em; justify-content: center; align-items: center; align-self: center">
    <button mat-mini-fab class="button-small-fab-icon"
            matTooltip="Net implemented yet">
      <img src="../../../assets/img/zp.png" class="icon-picture" draggable="false"
           alt="">
    </button>
  </div>
</div>
