<div
  style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 0.5px solid grey; height:50px;padding: 0 !important; width: 360px; margin-top: -18.5em; background: #292929">
  <div style="padding-left: 1em; padding-top: 0.5em; padding-bottom: 0.5em">
    <img src="../../../assets/img/zp.png" style="width: 33px; height: 33px; border-radius: 1000px; ">
  </div>
  <div>
  </div>
  <div
    style="align-self: center; align-content: center; margin-right: 1em; padding-top: 0.5em; padding-bottom: 0.5em; color: white;">
    <mat-icon>brightness_5</mat-icon>
  </div>
</div>
<div
  style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 0.5px solid grey; padding: 0 !important; width: 360px;height:50px;">
  <div>
  </div>
  <div style="text-align: center; margin-top: 0.25em">
    <div style="
    font-weight: bold;
    white-space: nowrap;
    color: #434343;
    font-size: 15px !important;
    margin-top: 0.3em;">{{currentName}}</div>
    <div style="font-size: 12px !important;">{{currentAddress}}</div>
  </div>
  <div>
  </div>
</div>
