.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fixed-height-50 {
  height: 50px;
}

.fixed-width {
  padding: 0 !important;
  width: 360px;
}

.navbar {
  position: fixed;
  top: 0;
  background: #292929
}

.align-element-center {
  align-self: center;
  align-content: center;
  justify-content: center;
}

.navbar-item-left {
  margin-left: 1em;
  color: white;
  margin-top: 0.5em
}

.fixed-font-18 {
  font-size: 18px !important;
}
