.toolbar-item {
  align-content: center;
  align-self: center;
  justify-content: center;
}

.toolbar-btn {
  background: none;
  border: none;
  color: #fff;
  padding: 0;
}

.icon-picture {
  height: 24px;
  width: 24px;
}
