.wrapper {
  width: 360px;
  height: 590px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.margin-t-2 {
  margin-top: 2em
}


.main-btn {
  width: 90px;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.danger {
  border: 1px solid red;
}

.flex-inline {
  padding-top: 2em;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
