$black-main: rgba(0, 0, 0, 0.87);
$black-more: rgba(0, 0, 0, 0.54);
$black-hint: rgba(0, 0, 0, 0.38);

.wrapper {
  height: 590px;
  width: 360px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-card {
  text-align: center;
}

.title {
  font-size: 24px;
  color: $black-main;
  margin: 0 0 8px 0;
}

.text {
  color: $black-more;
  font-size: 12px;
  margin: 0;
}

.password-form {
  width: 100%;
  margin: 16px 0;
}

.main-btn {
  width: 120px;
  margin: 0 0.25em;
}
