.text-subhead {
  text-align: center;
  padding: 1em 1em
}

.full-width {
  width: 360px !important;
  padding: 0 !important
}

.padding-tb-2em {
  padding-top: 2em;
  padding-bottom: 2em;
}


.padding-top-3em {
  padding-top: 3em;
}

.flex-vertical-stack-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-rl-1em {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-rl-2em {
  padding-left: 2em;
  padding-right: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #333cab;
  transition: background-color 5000s ease-in-out 0s;
}


#footer {
  box-shadow: 0 -2px 5px -5px #333;
  margin-top: 9em;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
}

.padding-top-5em {
  padding-top: 5em;
}

.button-basic {
  text-transform: capitalize;
}

.button-icon {
  margin-top: -0.1em;
}

.password-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.password-full-width {
  width: 100%;
}
