<div class="main-wrapper">
  <app-header></app-header>
  <div class="main-content main-flex-container">
    <h2>Send anonymous transaction</h2>
    <form class="password-form" [formGroup]="sendForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput
               type="text"
               formControlName="address">
<!--        <mat-icon matSuffix>lock</mat-icon>-->
        <mat-error *ngIf="address.hasError('required')">
          Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput
                 type="number"
                 formControlName="amount">
          <!--        <mat-icon matSuffix>lock</mat-icon>-->
          <mat-error *ngIf="amount.hasError('required')">
            Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </form>
    <div class="nav-buttons">
      <button class="button button-back"
              mat-raised-button
              (click)="back()">
        <mat-icon class="button-icon">keyboard_arrow_left</mat-icon>
        BACK
      </button>
      <button *ngIf="amount.value"
              class="button"
              mat-raised-button
              (click)="send()">
        Send {{(amount.value + ' ZRP') }}
      </button>
      <button *ngIf="!amount.value"
              class="button"
              mat-raised-button>
        Send
      </button>
    </div>
  </div>
</div>
