<div (keydown)="onKeydown($event)" class="wrapper">
  <div class="flex-vertical-stack-centered padding-top-5em">
    <div class="padding-top-8em">
      <h2>Enter your password</h2>
    </div>
    <div class="password-full-width">
      <div class="padding-rl-2em">
        <form class="password-form">
          <mat-form-field class="password-full-width padding-tb-2em">
            <label>
              <input matInput
                     placeholder="Password"
                     type="password"
                     [formControl]="passwordFormControl">
            </label>
            <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
              Your password must be at least 8 characters long
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <button class="button-basic"
              mat-button
              (click)="back()">
        <mat-icon class="button-icon">keyboard_arrow_left</mat-icon>
        BACK
      </button>
    </div>
    <div *ngIf="operation === 'registration'">
      <button [disabled]="passwordFormControl.value.length <= 7"
              class="button-basic"
              mat-button
              (click)="next()">
        NEXT
        <mat-icon class="button-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div *ngIf="operation === 'decrypt'">
      <button [disabled]="passwordFormControl.value.length <= 7"
              class="button-basic"
              mat-button
              (click)="proccessMnemonic()">
        GET MNEMONIC
        <mat-icon class="button-icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
