.wrapper {
  height: 590px;
  width: 360px;
}

.extension-box {
  background-color: #fafafa;
  border: 1px solid lightgray;
  width: 360px;
  height: 590px;
  overflow: hidden;
  position: relative;

  & div {
    height: 100%!important;
  }
}

.extension-box-ether {
  background-color: #3b3b3b;
  border: 1px solid lightgray;
  width: 360px;
  height: 590px;
  overflow: hidden;
  position: relative;

  & div {
    height: 100%!important;
  }
}
