.welcome {
  background-color: white;
  border: 1px solid lightgray;
  width: 360px;
  height: 600px;

  & button {
    width: 200px;
    margin: 10px;
    text-transform: uppercase;
  }

  & p {
    text-transform: uppercase
  }
}


