.wrapper {
  width: 360px;
  height: 590px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.flex-vertical-stack-centered {
}

.button-basic {
  text-transform: capitalize;
}

.padding-top-2em {
  padding-top: 2em;
}

.padding-rl-2em {
  padding-left: 2em;
  padding-right: 2em;
}

.padding-b-2em {
  padding-botttom: 2em;
}

.margin-t-2 {
  margin-top: 2em
}

