<div class="wrapper flex-vertical-stack-centered">
  <div class="padding-rl-2em padding-b-2em"><p align="center">{{mnemonic}}</p></div>
  <div>
    <button class="button-basic margin-t-2"
            mat-raised-button
            matTooltip="{{copyMessage}}"
            (mouseenter)="this.copyMessage = 'Copy mnemonic'"
            (click)="copyMnemonicToClipboard()">
      <mat-icon>file_copy</mat-icon>
      COPY
    </button>
  </div>
  <div class="padding-top-2em">
    <button class="button-basic"
            mat-button
            routerLink="/main">
      CONTINUE
      <mat-icon class="button-icon">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
