<div (keydown)="onKeydown($event)" class="flex-wrapper">
  <h2 class="title">Repeat your password</h2>
  <form class="password-form">
    <mat-form-field appearance="outline">
      <mat-label>Repeat your password</mat-label>
      <input matInput
             type="password"
             (input)="checkThatPasswordIsCorrect(passwordFormControl.value)"
             [formControl]="passwordFormControl">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
        Your password must be at least 8 characters long
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="nav-buttons">
    <button class="button button-back"
            mat-raised-button
            routerLink="/password">
      <mat-icon class="button-icon">keyboard_arrow_left</mat-icon>
      BACK
    </button>
    <button [disabled]="this.isDisabled"
            class="button button-next"
            mat-raised-button
            (click)="next()">
      NEXT
      <mat-icon class="button-icon">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
