<div class="main-wrapper">
  <app-header></app-header>
  <div class="main-content main-flex-container">
    <h2 class="title">Enter amount to deposit</h2>
    <form class="password-form">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Amount to deposit</mat-label>
        <input matInput
               type="number"
               [formControl]="amountFormControl">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="amountFormControl.hasError('min') && !amountFormControl.hasError('required')">
          Your deposit amount must be at least more than 0
        </mat-error>
        <mat-error *ngIf="amountFormControl.hasError('required')">
          Amount is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="nav-buttons">
      <button class="button button-back"
              mat-raised-button
              (click)="back()">
        <mat-icon class="button-icon">keyboard_arrow_left</mat-icon>
        BACK
      </button>
      <button *ngIf="amountFormControl.value"
              class="button"
              mat-raised-button>
        Deposit {{(amountFormControl.value + ' ETH') }}
      </button>
      <button *ngIf="!amountFormControl.value"
              class="button"
              mat-raised-button>
        Deposit
      </button>
    </div>
  </div>
</div>
