.unusualHr {
  margin-top: 0.1em;
  border: 0.25px solid rgb(132, 142, 156);;
  border-radius: 15px;
  margin-right: 2em;
  margin-left: 2em
}

.main-btn {
  width: 90px;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

