$black-main: rgba(0, 0, 0, 0.87);
$black-more: rgba(0, 0, 0, 0.54);
$black-hint: rgba(0, 0, 0, 0.38);

.wrapper {
  width: 360px;
  height: 540px;
}

.main-content {
  margin-top: 56px;
  padding: 16px;
  position: relative;
}

.account-info {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  width: 140px;
  border-radius: 2px;

  &:hover {
    background: $black-hint;
  }
}

.account-title {
  font-weight: bold;
  white-space: nowrap;
  color: #434343;
  font-size: 16px;
  display: block;

  &.grey {
    color: $black-main;
  }
}

.account-address {
  font-size: 12px;

  &.grey {
    color: $black-more;
  }
}

.button-mini-fab {
  position: absolute;
  background: none;
  top: 20px;
  left: 16px;
  box-shadow: none;
}

.unusualHr {
  border: 0.25px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: 16px -16px;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 4em
}

.balance-text {
  font-size: 24px;

  .grey {
    color: $black-main;
  }
}

.main-buttons-container {
  margin-top: 2em
}

.main-btn {
  width: 90px;
  margin: 0 0.25em;
}

.transactions-history-header {
  text-align: center;
  font-size: 16px;

  .grey {
    color: $black-main;
  }
}

.transactions-history-hint {
  text-align: center;
  font-size: 12px;

  .grey {
    color: $black-hint;
  }
}

.dark {
  color: $black-main;
}

.white {
  color: white;
}

.lightwhite {
  color: #adadad;
}
