<div class="flex-wrapper menu-container">
  <button class="button button-back btn-close-menu"
          mat-mini-fab
          (click)="back()">
    <mat-icon class="button-icon">close</mat-icon>
  </button>
  <button mat-raised-button
          class="text menu-item"
          routerLink="/password/decrypt"
          [ngClass]="{'text-white': shared.mode === 'ethereum', 'text-black': shared.mode === 'zeropool'}">
    Export mnemonic
  </button>
  <button mat-raised-button
          class="text menu-item"
          routerLink="/delete"
          [ngClass]="{'text-white': shared.mode === 'ethereum', 'text-black': shared.mode === 'zeropool'}">
    Delete account
  </button>
</div>
