.wrapper {
  width: 360px;
  height: 590px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.flex-vertical-stack-centered {
  position: relative;
}

.button-basic {
  text-transform: capitalize;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}
